<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.55.30" targetFramework="net462" developmentDependency="true" />
  <package id="Spritely.Cqrs" version="0.7.1" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>